/.vs/ProjectEvaluation/*.bin
/.vs/hpa-api/DesignTimeBuild/*.v2
/.vs/hpa-api/v17/*.v2
/.vs/hpa-api/v17/*.suo
/.vs/hpa-api/v17/*.json
/hpa/hpaApi/bin/Debug/netcoreapp8.0/*.json
/hpa/hpaApi/bin/Debug/netcoreapp8.0/*.dll
/hpa/hpaApi/bin/Debug/netcoreapp8.0/*.exe
/hpa/hpaApi/bin/Debug/netcoreapp8.0/*.pdb
/hpa/hpaApi/obj/Debug/netcoreapp2.1/*.cs
/hpa/hpaApi/obj/Debug/netcoreapp2.1/*.editorconfig
/hpa/hpaApi/obj/Debug/netcoreapp2.1/*.cache
/hpa/hpaApi/obj/Debug/netcoreapp8.0/*.cs
/hpa/hpaApi/obj/Debug/netcoreapp8.0/*.exe
/hpa/hpaApi/obj/Debug/netcoreapp8.0/*.cache
/hpa/hpaApi/obj/Debug/netcoreapp8.0/*.editorconfig
/hpa/hpaApi/obj/Debug/netcoreapp8.0/*.txt
/hpa/hpaApi/obj/Debug/netcoreapp8.0/*.dll
/hpa/hpaApi/obj/Debug/netcoreapp8.0/*.pdb
/hpa/hpaApi/obj/Debug/netcoreapp8.0/*.json
/hpa/hpaApi/obj/Debug/netcoreapp8.0/ref/*.dll
/hpa/hpaApi/obj/Debug/netcoreapp8.0/refint/*.dll
/hpa/hpaApi/obj/*.json
/hpa/hpaApi/obj/*.cache
/hpa/hpaApi/obj
